/*EXPERIENCE*/

.job {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .day {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-style: oblique;
  }
  
  .descriptionjob {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: -30px;
    margin-bottom: 80px;
  }
  