/*SAYHI*/

.body1, .mifondo {
    background-color: $color-fondo;
  }
  
  .container {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 0px;
  }
  
  .h1 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    margin-top: 50px;
  }
  
  .h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    letter-spacing: 0px;
    margin-top: 20px;
    margin-bottom: 0%;
  }
  
  .form {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
    margin-top: 20px;
  }
  
  .button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .footer {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
  }
  